{% load i18n %}

{% if paginator.count > 0 %}
    <ul class="paginator">
        <li class="prev">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" data-navigate="left">&larr;&nbsp;{% trans 'Prev' %}</a>
            {% else %}
                <span>&larr;&nbsp;{% trans 'Prev' %}</span>
            {% endif %}
        </li>
        <li class="count">{{ page_obj.start_index }} - {{ page_obj.end_index }} {% trans 'of' %} {{ paginator.count }}</li>
        <li class="next">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" data-navigate="right">{% trans 'Next' %}&nbsp;&rarr;</a>
            {% else %}
                <span>{% trans 'Next' %}&nbsp;&rarr;</span>
            {% endif %}
        </li>
    </ul>
{% endif %}

