{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Albums' %}{% endblock %}
{% block header %}{% trans 'Albums' %}{% endblock %}

{% block actions %}
    <ul class="actions album-actions">
        {% spaceless %}
        {% if perms.photos.add_album %}
            <li><a href="{% url 'album_create' %}" data-modal="form">{% trans 'Create Album' %}</a></li>
        {% endif %}
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
{% spaceless %}
    <ul class="albums">
        {% for album in album_list %}
            <li>
                <a href="{{ album.get_absolute_url }}">
                    {% include 'photos/_cover_photo.html' with object=album %}
                    <span class="name">{{ album.name|truncatechars:"45" }}</span>
                    {% with count=album.photo_set.count %}
                        {% include 'photos/_photo_count.html' %}
                    {% endwith %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}
