{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Locations' %}{% endblock %}
{% block header %}{% trans 'Locations' %}{% endblock %}

{% block actions %}
    <ul class="actions location-actions">
        {% spaceless %}
        {% if perms.photos.add_location %}
           <li><a href="{% url 'location_create' %}" data-modal="form">{% trans 'Create Location' %}</a></li>
        {% endif %}
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
{% spaceless %}
    <ul class="albums">
        {% for location in location_list %}
            <li>
                <a href="{{ location.get_absolute_url }}">
                    {% include 'photos/_cover_photo.html' with object=location %}
                    <span class="name">{{ location.name|truncatechars:"45" }}</span>
                    {% with count=location.album_set.count %}
                        {% include 'photos/_album_count.html' %}
                    {% endwith %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}
