{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ location.name }}{% endblock %}
{% block header %}{{ location.name }}{% endblock %}

{% block actions %}
    <ul class="actions location-actions">
        {% spaceless %}
        {% if perms.photos.change_location %}
            <li><a href="{% url 'location_rename' location.pk %}" data-modal="form">{% trans 'Rename' %}</a></li>
        {% endif %}
        {% if perms.photos.delete_location %}
            <li><a href="{% url 'location_delete' location.pk %}" data-modal="form">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
{% spaceless %}
    <ul class="albums">
        {% for album in album_list %}
            <li>
                <a href="{% url 'album' pk=album.pk location_pk=location.pk %}">
                    {% include 'photos/_cover_photo.html' with object=album %}
                    <span class="name">{{ album.name|truncatechars:"45" }}</span>
                    {% with count=album.photo_set.count %}
                        {% include 'photos/_photo_count.html' %}
                    {% endwith %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}
