{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}{% trans 'Locations' %}{% endblock %}
{% block header %}{% trans 'Locations' %}{% endblock %}

{% block actions %}
    <ul class="actions location-actions">
        {% spaceless %}
        {% if perms.photos.add_location %}
           <li><a href="{% url 'location_create' %}" data-modal="form">{% trans 'Create Location' %}</a></li>
        {% endif %}
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
{% spaceless %}
    <ul class="albums">
        {% for location in location_list %}
            <li class="thumb">
                <a href="{{ location.get_absolute_url }}">
                    {% if location.cover_photo %}
                        <img src="{{ location.cover_photo.file_thumb.url|default:"" }}" alt="{{ location.name }}">
                    {% else %}
                        <img src="{{ STATIC_URL }}/img/cover-blank.png">
                    {% endif %}
                    <span class="name">{{ location.name|truncatechars:"45" }}</span>
                    {% with count=location.album_set.count %}
                        <span class="count">
                            {% blocktrans count counter=count with total=count|intcomma %}
                                {{ total }} album
                            {% plural %}
                                {{ total }} albums
                            {% endblocktrans %}
                        </span>
                    {% endwith %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}
