{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block title %}{{ location.name }}{% endblock %}
{% block header %}{{ location.name }}{% endblock %}

{% block actions %}
    <ul class="actions location-actions">
        {% spaceless %}
        {% if perms.photos.change_location %}
            <li><a href="{% url 'location_rename' location.pk %}" data-modal="form">{% trans 'Rename' %}</a></li>
        {% endif %}
        {% if perms.photos.delete_location %}
            <li><a href="{% url 'location_delete' location.pk %}" data-modal="form">{% trans 'Delete' %}</a></li>
        {% endif %}
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
    <div class="album-list">
        {% for album in album_list %}
            <div class="thumb">
                <a href="{% url 'album' pk=album.pk location_pk=location.pk %}">
                    {% if album.cover_photo %}
                        <img src="{{ album.cover_photo.file_thumb.url|default:"" }}" alt="{{ album.name }}">
                    {% else %}
                        <img src="{{ STATIC_URL }}/img/cover-blank.png">
                    {% endif %}
                    <div class="name">{{ album.name|truncatechars:"45" }}</div>
                    {% with count=album.photo_set.count %}
                        <div class="count">
                            {% blocktrans count counter=count with total=count|intcomma %}
                                {{ total }} photo
                            {% plural %}
                                {{ total }} photos
                            {% endblocktrans %}
                        </div>
                    {% endwith %}
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
