<!DOCTYPE html>

{% load i18n %}
{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gallery - {% block title %}Untitled Page{% endblock %}</title>
    <link href="{% static 'application.css' %}" rel="stylesheet" type="text/css" media="screen">
    {% block extra_head %}{% endblock %}
</head>
<body id="body-{% block width %}large{% endblock %}">

<div id="topbar" class="header">
    <div class="left">
        <h1>
            <a href="{% url 'home' %}" data-navigate="up">Gallery</a>
            <span class="sub">{% block header %}Untitled Page{% endblock %}</span>
        </h1>
    </div>
    <ul class="right">
        {% spaceless %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'albums' %}">{% trans 'Albums' %}</a></li>
            <li><a href="{% url 'locations' %}">{% trans 'Locations' %}</a></li>
            <li><a href="{% url 'people' %}">{% trans 'People' %}</a></li>
            {% if perms.photos.add_photo %}
                <li><a href="{% url 'upload' %}">{% trans 'Upload' %}</a></li>
            {% endif %}
            <li><a href="{% url 'search' %}">{% trans 'Search' %}</a></li>
            <li><a href="{% url 'accounts:profile' %}">{% trans 'Profile' %}</a></li>
            <li><a href="{% url 'accounts:logout' %}">{% trans 'Logout' %}</a></li>
        {% else %}
            <li><a href="{% url 'accounts:login' %}">{% trans 'Login' %}</a></li>
            <li><a href="{% url 'accounts:password_reset' %}">{% trans 'Forgot Password' %}</a></li>
            <li><a href="{% url 'accounts:register' %}">{% trans 'Register' %}</a></li>
        {% endif %}
        {% endspaceless %}
    </ul>
</div>

<div id="toolbar" class="header">
    <div class="back">
        {% if back_link %}
            <a href="{{ back_link.url }}" data-navigate="up">&larr;&nbsp;{{ back_link.title }}</a>
        {% endif %}
    </div>
    {% block pagination %}
        {% include '_paginator.html' %}
    {% endblock %}
    {% block actions %}{% endblock %}
</div>

{% if messages %}
    <ul id="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="modal-window"><div id="modal"></div></div>

<script src="{% static 'application.js' %}"></script>
{% block extra_js %}{% endblock %}
<script>$.ajaxSetup({data:{csrfmiddlewaretoken:"{{csrf_token}}"},});</script>

</body>
</html>
