{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ album.name }}{% endblock %}
{% block header %}{{ album.name }}{% endblock %}

{% block actions %}
    <ul class="actions album-actions">
        {% spaceless %}
        {% if perms.photos.change_album %}
            <li><a href="{% url 'album_edit' album.pk %}" data-modal="form">{% trans 'Edit' %}</a></li>
            <li><a href="{% url 'album_merge' album.pk %}" data-modal="form">{% trans 'Merge' %}</a></li>
        {% endif %}
        {% if perms.photos.delete_album %}
            <li><a href="{% url 'album_delete' album.pk %}" data-modal="form">{% trans 'Delete' %}</a></li>
        {% endif %}
        <li><a href="{% url 'album_download' album.pk %}">{% trans 'Download' %}</a></li>
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
{% spaceless %}
    <ul class="photos">
        {% for photo in photo_list %}
            <li>
                {% if location_pk %}
                    {% url 'photo' pk=photo.pk album_pk=album.pk location_pk=location_pk as photo_url %}
                {% else %}
                    {% url 'photo' pk=photo.pk as photo_url %}
                {% endif %}
                <a href="{{ photo_url }}">
                    <img src="{{ photo.file_thumb.url }}" alt="{{ photo.name }}">
                </a>
            </li>
        {% endfor %}
    </ul>
{% endspaceless %}
{% endblock %}
