{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'People' %}{% endblock %}
{% block header %}{% trans 'People' %}{% endblock %}

{% block actions %}
    <ul class="actions">
        {% if perms.photos.add_person %}
            <li><a href="{% url 'person_create' %}" data-modal="form">{% trans 'Create Person' %}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <ul class="albums">
        {% for person in person_list %}
            <li>
                <a href="{{ person.get_absolute_url }}">
                    {% include 'photos/_cover_photo.html' with object=person %}
                    <span class="name">{{ person.name|truncatechars:"45" }}</span>
                    {% with count=person.photo_set.count %}
                        {% include 'photos/_photo_count.html' %}
                    {% endwith %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
