{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ photo.album.name }}{% endblock %}
{% block header %}{{ photo.album.name }}{% endblock %}

{% block pagination %}
{% spaceless %}
    <ul class="paginator">
        <li class="prev">
            {% if paginator.has_previous %}
                <a href="{{ paginator.previous_url }}" data-navigate="left">&lsaquo;&nbsp;{% trans 'Prev' %}</a>
            {% else %}
                <span>&lsaquo;&nbsp;{% trans 'Prev' %}</span>
            {% endif %}
        </li>
        <li class="count">{{ paginator.index }} {% trans 'of' %} {{ paginator.count }}</li>
        <li class="next">
            {% if paginator.has_next %}
                <a href="{{ paginator.next_url }}" data-navigate="right">{% trans 'Next' %}&nbsp;&rarr;</a>
            {% else %}
                <span>{% trans 'Next' %}&nbsp;&rarr;</span>
            {% endif %}
        </li>
    </ul>
{% endspaceless %}
{% endblock %}

{% block actions %}
    <ul class="actions photo-actions">
        {% spaceless %}
        {% if perms.photos.change_photo %}
            <li><a href="{% url 'photo_rotate' photo.pk %}" data-modal="rotate">{% trans 'Rotate' %}</a></li>
            <li><a href="{% url 'photo_rename' photo.pk %}" data-modal="form">{% trans 'Rename' %}</a></li>
            <li><a href="{% url 'photo_move' photo.pk %}" data-modal="form">{% trans 'Move' %}</a></li>
            <li><a href="{% url 'photo_tag' photo.pk %}" data-modal="form">{% trans 'Tag' %}</a></li>
        {% endif %}
        {% if perms.photos.delete_photo %}
            <li><a href="{% url 'photo_delete' photo.pk %}" data-modal="form">{% trans 'Delete' %}</a></li>
        {% endif %}
        <li><a href="{% url 'photo_download' photo.pk %}">{% trans 'Download' %}</a></li>
        {% endspaceless %}
    </ul>
{% endblock %}

{% block content %}
{% spaceless %}
    <div class="photo">
        <img src="{{ photo.file_medium.url }}" alt="{{ photo.name }}">
        <div class="name">{{ photo.name }}</div>
    </div>
{% endspaceless %}
{% endblock %}
