body {
    background: #d2d2d2;
}

/** header, topbar, and toolbar **********************************************/

.header {
    display: table;
    width: 100%;

    padding: 15px;
    background: #000;
    color: #d2d2d2;
}

#toolbar {
    padding: 10px 15px;
    background: #444;
}

.header h1 a {
    color: #fff;
    text-decoration: none
}

.header .right,
.header .left,
.header .center {
    display: table-cell;
    vertical-align: middle;
}

.header .center {
    text-align: center;
}

.header .right {
    text-align: right;
}

.header .left {
    text-align: left;
}

#toolbar .left,
#toolbar .right {
    width: 40%;
}

.header .right li {
    display: inline;
    border-right: 1px solid #999;
    padding: 0 8px;
}

.header .right li:last-child {
    border-right: 0 !important;
    padding-right: 0;
}

.header .right a,
.header .left a {
    color: #fff !important;
    text-decoration: none;
}

.header .left a:hover,
.header .right a:hover {
    text-decoration: underline;
}

/** paginator ****************************************************************/

.paginator li {
    display: inline;
}

.paginator li.count {
    padding: 3px 12px;
}

.paginator li span,
.paginator li a {
    padding: 3px 6px;
}

.paginator li a {
    background: #000;
    color: #fff;
    text-decoration: none;
}

/** body styles based on size ************************************************/

#body-small #content,
#body-medium #content {
    border: 1px solid #FFF;
    background: #FFF;
    margin: 10px auto;
}

#body-small #content {
    width: 350px;
}

#body-medium #content {
    width: 640px;
}

#body-large #content {
    margin: 10px 10px 20px 10px;
}

#body-small #toolbar,
#body-medium #toolbar {
    display: none;
}

#content p,
#content h2 {
    margin: 15px;
}

#content a {
    color: #313E53;
}

/** album list and thumbnail styles ******************************************/

.photos,
.albums {
    margin: 0 auto;
    text-align: center;
}

.photos li,
.albums li {
    width: 200px;
    height: 200px;
    margin: 8px;
    display: inline-block;
    text-align: center;
}

.albums li {
    height: 250px;
}

.albums li .count,
.albums li .name {
    display: block;
}

.albums a {
    text-decoration: none;
    color: #000;
}

.albums img,
.photos img,
.photo img {
    box-shadow: 0 0 7px #444;
}

.photo {
    margin: 20px 10px 0 10px;
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
}

.photo .name {
    margin-top: 5px;
}

/** modal window styles ******************************************************/

#modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    opacity: 1;
}

#modal-wrapper > div {
    width: 400px;
    position: relative;
    border: 1px solid #fff;
    margin: 10% auto;
    padding: 5px;
    background: #fff;
    text-align: center;
}

#modal p,
#modal h2 {
    margin: 15px;
}

#modal #id_name,
#modal #id_people {
    width: 300px;
}

/** messages styles ******************************************/

#messages li {
    width: 550px;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 8px;
}

#messages .success {
    background-color: #DFF2BF;
}

#messages .error {
    background-color: #FFBABA;
}

#messages .warning {
    background-color: #FFBABA;
}

/** form styles **************************************************************/

form .field,
form .buttons {
    margin: 15px;
}

form .field-with-errors label {
    color: #cc0000;
    font-weight: bold;
}

form .field-with-errors input,
form .field-with-errors .chosen-container-single .chosen-single{
    border-color: #cc0000 !important;
}

form .non-field-errors {
    margin: 15px;
}

form .errors {
    color: #cc0000;
    font-weight: bold;
}

form .field label {
    display: block;
}

form .field .helptext {
    color: #606060;
}

#body-small form select,
#body-small form input[type="text"],
#body-small form input[type="password"],
#body-small form input[type="email"] {
    width: 100%;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select {
    background: #FFF;
    border: 1px solid #666;
    padding: 4px;
}

form input[readonly="True"] {
    background: #f2f2f2;
}

form input[type="submit"] {
    color: #FFF;
    border: 0;
    padding: 8px 20px;
    background: #313E53;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background: #324A6F;
}

form input[type="button"] {
    color: #FFF;
    border: 0;
    padding: 8px 20px;
    background: #606060;
    cursor: pointer;
}

form input[type="button"]:hover {
    background: #707070;
}

form.search .helptext {
    visibility: hidden;
    display: none;
}
